<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= render partial: "ruth_application/title" %>
	<%= render partial: "ruth_application/favicon" %>
	<%= stylesheet_link_tag    RuthApplication.css_layout, media: "all" %>
	<%= javascript_include_tag RuthApplication.js_layout %>
	<%= csrf_meta_tags %>
</head>
<body class="layout-auth">
	<div class="container">
		<a class="close" href="<%= main_app.root_path %>"><%= rug_icon("close") %></a>
		<%= render partial: "ruth_application/components/flash_alertify" %>
		<%= render partial: "ruth_application/components/page_header" %>
		<%= yield %>
		<%= render partial: "ruth_application/components/actions" %>
	</div>
</body>
</html>