<% actions = ruth_admin_actions %>
<% filters = ruth_admin_filters %>
<% sidebar = ruth_admin_sidebar %>
<%
	default_title = t("headers.#{controller_path.gsub('/', '.')}.#{action_name}", default: "")
	default_subtitle = t("headers.#{controller_path.gsub('/', '.')}.index", default: "")
	default_subtitle = nil if default_title == default_subtitle
%>

<div class="container <%= sidebar ? "sidebar-container sidebar-container-left" : "" %>">
	<%= breadcrumbs style: :bootstrap if defined?(breadcrumbs) %>

	<div class="dashhead">
		<div class="dashhead-titles">
			<h2 class="dashhead-title"><%= (content_for?(:title) ? (yield :title) : default_title) %></h2>
			<% if default_subtitle %>
				<h6 class="dashhead-subtitle"><%= default_subtitle %></h6>
			<% end %>
			
		</div>
		<% if actions %>
			<div class="dashhead-toolbar">
				<%= actions.html_safe %>
			</div>
		<% end %>
	</div>
	<hr/>

	<%= render partial: "ruth_admin/flash_alertify" %>

	<% if filters %>
		<div class="filters">
			<%= filters.html_safe %>
			<hr/>
		</div>
	<% end %>

	<%= yield %>
</div>