<% actions = ruth_admin_actions %>
<% filters = ruth_admin_filters %>
<% sidebar = ruth_admin_sidebar %>
<%
	final_header = t("headers.#{controller_path.gsub('/', '.')}.#{action_name}", default: "")
	final_header = (content_for?(:page_header) ? (yield :page_header) : final_header)
	final_header = nil if final_header == "false"
	final_subheader = t("headers.#{controller_path.gsub('/', '.')}.index", default: "")
	final_subheader = nil if final_header == final_subheader
%>

<div class="container <%= sidebar ? "sidebar-container sidebar-container-left" : "" %>">
	
	<%= breadcrumbs style: :bootstrap if defined?(breadcrumbs) %>

	<% if final_header || actions %>
		<div class="dashhead">
			<% if final_header %>
				<div class="dashhead-titles">
					<h2 class="dashhead-title"><%= final_header %></h2>
					<% if final_subheader %>
						<h6 class="dashhead-subtitle"><%= final_subheader %></h6>
					<% end %>
				</div>
			<% end %>
			<% if actions %>
				<div class="dashhead-toolbar">
					<%= actions.html_safe %>
				</div>
			<% end %>
		</div>
		<hr/>
	<% end %>

	<%= render partial: "ruth_admin/flash_alertify" %>

	<% if filters %>
		<div class="filters">
			<%= filters.html_safe %>
			<hr/>
		</div>
	<% end %>

	<%= yield %>
</div>