<% controller_path = controller.class.name.to_snake[0..-12] %>

<%
	show_actions = false
	show_related = false
	show_filters = false
	layout = "default"
	
	if lookup_context.find_all("#{controller_path}/_actions").any?
		actions_partial = render(partial: "#{controller_path}/actions").trim
		if !strip_tags(actions_partial).blank?
			show_actions = true
			layout = "with-right-side"
		end
	end

	if lookup_context.find_all("#{controller_path}/_related").any?
		related_partial = render(partial: "#{controller_path}/related").trim
		if !strip_tags(related_partial).blank?
			show_related = true
			layout = "with-right-side"
		end
	end

	if lookup_context.find_all("#{controller_path}/_filters").any?
		filters_partial = render(partial: "#{controller_path}/filters").trim
		if !strip_tags(filters_partial).blank?
			show_filters = true
		end
	end
%>

<div class="content-layout <%= layout %>">
	<div class="content">
		<%= render partial: "ruth_admin/components/flash" %>
		<%= breadcrumbs style: :bootstrap if defined?(breadcrumbs) %>
		<% if show_filters %>
			<div class="filters panel panel-default"><div class="panel-body">
				<!--<h2><%= t("headers.ruth_admin.filters") %></h2>-->
				<%= filters_partial.html_safe %>
			</div></div>
		<% end %>
		<%= yield %>
	</div>
	<% if show_actions || show_related %>
		<div class="side">
			<% if show_actions %>
				<!--<h2><%= t("headers.ruth_admin.actions") %></h2>-->
				<%= actions_partial.html_safe %>
			<% end %>
			<% if show_related %>
				<!--<h2><%= t("headers.ruth_admin.related") %></h2>-->
				<%= related_partial.html_safe %>
			<% end %>
		</div>
	<% end %>
</div>