<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= render partial: "ruth_admin/title" %></title>
	<%= stylesheet_link_tag    RuthAdmin.css_layout, media: "all" %>
	<%= javascript_include_tag RuthAdmin.js_layout %>
	<%= tinymce if defined?(tinymce) && RuthAdmin.include_default_tinymce %>
	<%= csrf_meta_tags %>
</head>
<body class="layout-iconav">
	<%= render partial: "ruth_admin/navbar_iconav" %>
	<%= render partial: "ruth_admin/sidebar_iconav" %>
	<%= render partial: "ruth_admin/userbar_iconav" %>
	<%= render layout: "ruth_admin/content_iconav" do %>
		<%= yield %>
	<% end %>
</body>
</html>