<div class="navbar-right">
	<% if user_signed_in? %>
		<div class="btn-group">
			<button onclick="window.location='<%= ric_auth_admin.edit_account_path %>'" type="button" class="btn btn-default navbar-btn btn-sm">
				<%= current_user.email %>		
			</button>
			<button type="button" class="btn btn-default btn-sm navbar-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<%= render partial: "ric_auth/shared/admin/account/menu" %>
				<li role="separator" class="divider"></li>
				<%#= render partial: "ric_auth/shared/admin/session/menu_signed" %>
				<%= render partial: "devise/shared/menu_signed" %>
			</ul>
		</div>
	<% else %>
		<div class="btn-group">
			<button onclick="window.location='<%= ric_devise.new_user_session_path %>'" type="button" class="btn btn-default navbar-btn btn-sm">
				<%= t("devise.action.sign_in") %>
			</button>
			<button type="button" class="btn btn-default btn-sm navbar-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<%#= render partial: "ric_auth/shared/admin/session/menu_not_signed" %>
				<%= render partial: "devise/shared/menu_not_signed" %>
			</ul>
		</div>
	<% end %>
</div>