<% if user_signed_in? %>
	<div class="panel panel-default panel-profile">
		<% if RuthApplication.profile_show_picture %>
			<div class="panel-heading" style="background-image: url(<%= image_url("profile.jpg") %>);"></div>
		<% end %>
		<div class="panel-body text-center">
			<% if RuthApplication.profile_show_avatar && current_user.respond_to?(:avatar) && current_user.avatar.exists? %>
				<img class="panel-profile-img" src="<%= current_user.avatar.url(:full) %>">
			<% end %>
			<h5 class="panel-title"><%= current_user.name_formatted %></h5>
			<p class="m-b-md"><%= current_user.email %></p>
			<%= rug_button(rug_icon("user") + t("headers.ric_auth.public_profiles.edit").capitalize, ric_auth_public.edit_profile_path, style: "default", size: "sm") %>
			<%= rug_button(rug_icon("lock") + t("headers.ric_auth.public_profile_passwords.edit").capitalize, ric_auth_public.edit_profile_password_path, style: "default", size: "sm") %>
			<% if RuthApplication.profile_show_sign_out %>
				<hr/>
				<%= rug_button(rug_icon("sign-out") + t("devise.action.sign_out").capitalize, ric_auth_public.destroy_session_path, style: "default", size: "sm", method: "delete") %>
			<% end %>
		</div>
	</div>
<% elsif !["public_sessions", "admin_sessions"].include?(controller_name) %>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h5 class="m-a-0"><%= t("devise.action.sign_in") %> 
				<small>
					<% if RicUser.user_model.recoverable? %>
					· <%= link_to t("devise.action.reset_password").capitalize, ric_auth_public.new_password_path %>
					<% end %>
					<% if RicUser.user_model.registerable? %>
					· <%= link_to t("devise.action.sign_up").capitalize, ric_auth_public.new_registration_path %>
					<% end %>
				</small>
			</h5>
		</div>
		<%= rug_form_for(RicUser.user_model.new, url: ric_auth_public.new_session_path) do |f| %>
			<div class="panel-body">
				<%= f.text_input_row :email %>
				<%= f.text_input_row :password, :password_field %>
				<%= f.checkbox_row :remember_me %>
			</div>
			<div class="panel-footer">
				<%= f.primary_button_row :submit, label: t("devise.action.sign_in") %>
			</div>
		<% end %>
	</div>
<% end %>